.section {
    padding: 30px;
}

.heroContainer {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

.hero-image {
    max-width: 400px;
    align-self: center;
    padding: 2rem;
}